{% extends 'base.html.twig' %}

{% block title %}ClashRoyaleAPI App{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mb-5">Welcome to my ClashRoyaleAPI App</h1>

		<p class="lead">You can see the <a href="/opentournaments">Open Tournaments</a></p>

		<blockquote class="blockquote mt-5">
  			<footer class="blockquote-footer">Work in progress..</footer>
		</blockquote>
	</div>
{% endblock %}
